@model SocialMediaModel

<div class="row">
    <div class="col-8">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">SocialMedia</h5>
            </div>
            <div class="card-body">
                <form method="post">

                    <div class="mb-3 form-group">
                        <label asp-for="InstagramLink" class="form-label">InstagramLink</label>
                        <input asp-for="InstagramLink" class="form-control" />
                        <span class="text-danger" asp-validation-for="InstagramLink"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="TvitterLink" class="form-label">TvitterLink</label>
                        <input asp-for="TvitterLink" class="form-control" />
                        <span class="text-danger" asp-validation-for="TvitterLink"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="LinkedinLink" class="form-label">LinkedinLink</label>
                        <input asp-for="LinkedinLink" class="form-control" />
                        <span class="text-danger" asp-validation-for="LinkedinLink"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="FacebookLink" class="form-label">FacebookLink</label>
                        <input asp-for="FacebookLink" class="form-control" />
                        <span class="text-danger" asp-validation-for="FacebookLink"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a asp-action="Index" class="btn btn-secondary">Go Back</a>
                </form>
            </div>
        </div>
    </div>
</div>

