@{
    Layout = "_SubLayout";
}

<!-- About section -->
<section class="about_section layout_padding">
      <div class="container  ">
          @await Component.InvokeAsync("About")
      </div>
</section>
<!-- About section -->